body {
    padding-top: 65px;
    background-color: #F3E8EE;
}

h3 {
    color: #403F4C;
}

h4 {
    color: #403F4C;
    margin: 30px 0px 20px 0px;
}

img {
    height: 180px;
    width: auto;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.shop-look-product img {
    height: 100px;
    width: auto;
}

.plus img {
    height: 50px;
    width: auto;
    margin-top: 20px;
}

.collection img {
    height: 300px;
    width: auto;
}


.wardrobe_img {
    border-radius: 10%;
    margin: 0px 10px 0px 0px;
}


.combo .row {
    padding: 5px 20px 10px 20px ;
    background-color: white;
}

.combo .row h5 {
    padding: 5px;
    margin: 10px 20px 10px 5px;
    background-color:  #F3E8EE;
}



.shop .shop-look {
    margin: 20px 0px 20px 0px;
    padding: 20px 0px 20px 20px;
    background-color: white;
}

.shop .row {
    padding-bottom: 10px;
    margin: 0px;
}

.figure-caption {
    font-size: 12px;
    color: #403F4C;
}

.shop-look h5 {
    padding: 5px;
    background-color:  #F3E8EE;
}

form {
    margin: 0px;
    padding: 0px;
    height: 100px;
}
