{% extends "layout.html" %}
{% block body %}
  <h5>Complete the Look</h5>
  <div class="container">
    {% for suggestion in suggested_products %}

    <div class="collection">
	<img class="img-responsive" src="static{{ suggestion[1] }}">
    </div>

    <div>
    <div class="row suggested-product">
	 <div class="col-md-6"><img class="img-responsive" src="{{ suggestion[0] }}"></div>
         {% for suggested_product in suggestion[2] %}
	 <div class="col-md-2">
	   <img class="img-responsive" src="{{ suggested_product['image_url'] }}">
	   <label>{{ suggested_product['product_name'] }}</label>
	 </div>
         {% endfor %}
     </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
