{% extends "layout.html" %}
{% block body %}
  <h2>SHOP</h2>
  <div class="container">
    {% for suggestion in suggested_products %}
    <div class="row">
      <div class="col">
	 <img class="img-responsive" src="{{ suggestion[0] }}" alt="">
      </div>
      {% for suggested_product in suggestion[2] %}
       <div class="col">
	 <img class="img-responsive" src="{{ suggested_product['image_url'] }}" alt="">
       </div>
      {% endfor %}
      <div class="col">
	 <img class="img-responsive" src="static{{ suggestion[1] }}" alt="">
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
