{% extends "layout.html" %}

{% block body %}
  {% if session.logged_in %}
  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{ session.user.name }}'s Wardrobe</h1>


  {% for item in wardrobe %}
  <img class="img-responsive" src="{{ item.url }}" alt="">
  {% endfor %}

  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-12">
      <h3 class="my-3">Upload</h3>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <br></br>
        <input type="file" name="user_file">
        <br></br>
        <button type="submit">Upload</button>
     </form>
    </div>
  </div>
  {% endif %}
{% endblock %}
