{% extends "layout.html" %}

{% block body %}
  {% if session.logged_in %}

  <h1 class="my-4">{{ session.user.name }}'s Wardrobe</h1>


  {% for category in wardrobe %}
  <div class="row">
    {{ category[0] }} ({{ category[1] }})
    <div class="col-md-12">
      {% for item in category[2] %}
      <img class="img-responsive" src="{{ item.image_url }}" alt="">
      {% endfor %}
    </div>
  </div>
  {% endfor %}


  <div class="row">
    <div class="col-md-12">
      <h3 class="my-3">Upload</h3>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <br></br>
        <input type="file" name="user_file">
        <br></br>
        <button type="submit">Upload</button>
     </form>
    </div>
  </div>
  {% endif %}
{% endblock %}
