{% extends "layout.html" %}
{% block body %}
  <h4>Wardrobe Outfit Ideas</h4>

  <div class="container combo">

    {% for combo in suggested_combos %}
    <div class="row"><h5><small>OUTFIT {{ combo[0] }}</small></h5></div>
    <div class="row">
        <div class="col-md-5">
            <img class="img-fluid rounded mb-3 mb-md-0" src="static/{{ combo[1] }}" alt="">
        </div>
        <div class="col-md-5">
	  {% for wardrobe_img in combo[2] %}
	  <div class="row">
	   <img class="rounded mb-3 mb-md-0" src="{{ wardrobe_img }}" alt="">
	 </div>
	 {% endfor %}
        </div>
    </div>
    <br/>
     {% endfor %}
  </div>
{% endblock %}
